@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&family=Sen:wght@400;700;800&display=swap");

body {
  color: white;
  background-color: #060608;
}
div {
  color: white;
}

/* default css */
* {
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
  font-family: Poppins, Sen;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
